/* 
Table of Contents:

#Header
#Hero
#Skills
#About Me
#Contact
#Footer
*/

/* ####################### #Hero ######################### */
.hero__background__img {
  background: url("../images/index/mass_moca_dots-reverse.jpg") no-repeat;
  background-position: right;
  background-size: cover;
  width: clamp(310px, 100%, 1110px);
  margin-bottom: 24px;
  height: clamp(275px, 50vw, 600px);
  box-shadow: 0 0 4px 0 gray;
}

.hero__intro__txt {
  margin-bottom: 24px;
}

.hero__intro__txt--sub-mobile {
  margin-top: -20px;
  margin-bottom: 24px;
  font-size: 25px;
  color: rgb(97, 97, 97);
}

.hero__intro__txt--sub-desk {
  margin-top: -10px;
  line-height: clamp(15px, 3.1vw, 35px);
  font-size: clamp(15px, 3.1vw, 35px);
  color: rgb(97, 97, 97);
}

.hero__container {
  margin-bottom: 70px;
}

.btn__aboutme {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*             ###### #Tablet #####           */
@media only screen and (min-width: 650px) {
  /* hero */
  .hero__background__img {
    margin: 0 auto;
    position: relative;
  }

  .hero__intro__container {
    height: clamp(160px, 26vw, 250px);
    width: clamp(269px, 43.7vw, 420px);
    padding: 20px 20px 0 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 gray;
  }

  .hero__intro__txt {
    font-size: clamp(20px, 4vw, 45px);
    margin-bottom: 5px;
  }
}

/* ####################### #Skills ######################### */
.skills__container {
  margin-bottom: 50px;
  transition: all 1s;
  overflow: hidden;
}

.skills__heading {
  margin: 35px 0;
  text-align: center;
  transition: all 1s;
}

.skills__details__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 10px;
}

.skill__detail {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  transition: all 1s;
}

.skill__detail--img {
  height: 60px;
  margin-bottom: 15px;
  transition: all 1s;
}

@media only screen and (min-width: 650px) {
  .skills__container {
    margin: 100px 0;
  }

  .skills__details__container {
    margin-bottom: 50px;
  }
}

/* ####################### #About Me ######################### */
.aboutme__img {
  max-height: 540px;
  margin-top: 35px;
  box-shadow: 0 0 4px 0 gray;
}

@media only screen and (max-width: 649px) {
  .aboutme__img {
    margin: 70px 0;
  }
}

.aboutme__heading {
  margin: 28px 0;
}

.btn__portfolio {
  margin: 15px 0 35px;
}

/*       ----- #Tablet ----- */

@media only screen and (min-width: 650px) {
  .aboutme__container {
    display: flex;
    justify-content: space-between;
  }

  .aboutme__img {
    margin-top: 20px;
    width: 40vw;
    max-width: 430px;
    max-height: 575px;
    object-fit: cover;
    object-position: 100% 0;
  }

  .aboutme__txt__container {
    width: 45vw;
    max-width: 490px;
  }

  .divider--hide {
    opacity: 0;
  }

  .aboutme__txt__container > .body1 {
    font-size: clamp(13px, 1.5vw, 16px);
  }
}
