/* 
Table of Contents:

#Portfolio Grid
#Media Query
*/

/* ####################### #Portfolio Grid ######################### */
.projects__grid {
  display: flex;
  flex-direction: column;
}

.grid__item {
  border: solid 1px black;
}

.grid__item__detail {
  border: solid 1px black;
  height: 311px;
}

.portfolio__index__img {
  height: 80%;
  position: relative;
  top: 50px;
  width: 250px;
  margin: 0 auto;
}

/* ####################### #Media Query ######################### */
@media only screen and (min-width: 560px) {
  .grid__item {
    display: flex;
  }

  .grid__item__detail {
    width: 50%;
    height: 100%;
  }
}
