/* 
Table of Contents:

#Portfolio Grid
#Media Query
*/

/* ####################### #Portfolio Grid ######################### */
.projects__grid {
  display: flex;
  flex-direction: column;
}

.grid__item {
  border: solid 1px black;
  height: 150px;
}

.grid__item__detail {
  border: solid 1px black;
  height: 50%;
}

/* ####################### #Media Query ######################### */
@media only screen and (min-width: 650px) {
  .grid__item {
    display: flex;
  }

  .grid__item__detail {
    width: 50%;
    height: 100%;
  }
}
