/* 
-- -- -- -- -- -- -- -- -- -- -- -- -- --
Format Notes 
-- -- -- -- -- -- -- -- -- -- -- -- -- --
===SCREENS===
#Mobile: 320px - 480px (avg 360-414)
#Tablet:  768px;
#Monitor: 1366px - 1920px (avg)
-- -- -- -- -- -- -- -- -- -- -- -- -- --
===FONTS===
font-family: 'Ibarra Real Nova', serif;
font-family: 'Public Sans', sans-serif;
-- -- -- -- -- -- -- -- -- -- -- -- -- --
===COLORS===
##Primary
Slightly Desaturated Cyan: rgb(95, 180, 162)
Dark Blue: rgb(32, 58, 76)
Grayish Dark Blue: rgb(51, 50, 61)

##Secondary
Very Light Grey (bg): rgb(250, 250, 250)
Light Grey (text field): rgb(234, 234, 235)
Brign Red (errors): rgb(244, 48, 48)
-- -- -- -- -- -- -- -- -- -- -- -- -- --
*/

/* 
Table of Contents:

#Fonts
#Margins
#Page Layout
#Header
#Contact Me Section
#Footer
#Buttons / Links
#Toggle States
#Tablet @Media
*/

/* ####################### #Fonts ######################### */
* {
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ibarra Real Nova", serif;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45px;
}

h2 {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

.body1 {
  font-size: 16px;
  line-height: 30px;
}

.body2 {
  font-size: 15px;
  line-height: 30px;
}

button,
a {
  font-size: 12px;
  line-height: 14.1px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/* ###################### #Margins ####################### */
.main__container {
  max-width: 1110px;
  margin: 0 auto;
}

/* #################### #Page Layout ###################### */
body {
  background: rgb(250, 250, 250);
}

.section {
  transition: transform 1s, opacity 1s;
}

.body__wrapper {
  padding: 0 30px;
}

.divider {
  border: none;
  border-top: solid 1px rgb(209, 209, 209);
}

.paragraph__spacing {
  margin-top: 20px;
}

/* ##################### #Header ####################### */

header {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile__links__toggle {
  cursor: pointer;
  padding: 4px 4px;
}

.header__mobile-links__modal {
  visibility: hidden;
  opacity: 0;
  height: 40vw;
  width: 55vw;
  background: rgb(32, 58, 76);
  color: white;
  padding: 10px 0;
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.575);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 30px;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

/* ################ #Contact Me Section ################## */
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.contact__heading {
  margin: 150px 0 50px;
  text-align: center;
}

/* ###################### #Footer ######################## */
footer {
  background-color: rgb(32, 58, 76);
  color: white;
  padding: 35px 0 0;
}

.footer__container {
  max-width: 1110px;
}

.footer__links__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__logo {
  height: 30px;
  width: 50px;
  margin-left: 25px;
  filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(7deg) brightness(106%)
    contrast(102%);
}

.footer__nav__link {
  margin-top: 25px;
}

.socials__container {
  display: flex;
}

.footer__socials {
  margin-top: 25px;
}

.link__social {
  filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(7deg) brightness(106%)
    contrast(102%);
  margin: 0 10px;
  cursor: pointer;
}

@media (hover: hover) {
  .link__social:hover {
    filter: invert(69%) sepia(27%) saturate(642%) hue-rotate(82deg)
      brightness(85%) contrast(92%);
  }
}

.footer__credit {
  text-align: center;
  margin-top: 20px;
  font-size: 8px;
  color: rgb(97, 97, 97);
}

/* ################## #Buttons / Links ################### */
a {
  transition: color 0.15s, font-weight 0.15s, padding 0.15s;
}

a:hover {
  color: rgb(95, 180, 116);
}

a:active {
  color: rgb(97, 255, 137);
}

.current__page {
  color: rgb(95, 180, 116);
}

button {
  text-align: center;
  line-height: 48px;
}

.btn__primary {
  background-color: rgb(32, 58, 76);
  color: white;
  font-style: italic;
  height: 48px;
  width: 200px;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
  cursor: pointer;
}

@media (hover: hover) {
  .btn__primary:hover {
    background-color: rgba(0, 134, 105, 0.849);
    border-color: rgba(0, 134, 105, 0.849);
  }
}

.btn__primary:active {
  background-color: rgb(209, 209, 209);
  color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
  box-shadow: 0 0 3px 1px rgba(63, 63, 63, 0.452);
}

.btn__secondary {
  height: 48px;
  line-height: 42px;
  width: 175px;
  background-color: white;
  border-color: rgb(32, 58, 76);
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
}

@media (hover: hover) {
  .btn__secondary:hover {
    background-color: rgb(32, 58, 76);
    color: white;
  }
}

.btn__secondary:active {
  background-color: rgb(209, 209, 209);
  color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
  box-shadow: 0 0 3px 1px rgba(63, 63, 63, 0.452);
}

/* ################## #Toggle States ##################### */
.hidden {
  display: none;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 300ms;
}

/* ################## #Media Queries ##################### */
/* Hide non-mobile items */
@media only screen and (max-width: 650px) {
  .desktop {
    display: none;
  }

  .divider--desktop {
    display: none;
  }
}

/* ####### #Tablet ######## */
@media only screen and (min-width: 650px) {
  .mobile {
    display: none;
  }

  /* header */
  header {
    max-width: 1110px;
    margin: 30px auto;
  }

  .header__navlink {
    margin-left: 50px;
  }

  /* contact me */
  .contact__container {
    flex-direction: row;
    align-items: center;
    margin: 100px 0;
  }

  .contact__heading {
    margin: 0;
    width: 350px;
    padding: 0;
  }

  .divider--desktop {
    width: 40vw;
    margin: 0 20px 0 0;
  }

  /*       ##### #Footer ##### */
  .footer__links__container {
    max-width: 1110px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__nav__container {
    flex-direction: row;
    align-items: center;
  }

  .footer__nav__link {
    margin: 0;
    margin-left: 30px;
  }

  .socials__container {
    margin: 0 25px 0 0;
  }
}
