/* 
-- -- -- -- -- -- -- -- -- -- -- -- -- --
Format Notes 
-- -- -- -- -- -- -- -- -- -- -- -- -- --
===SCREENS===
#Mobile: 320px - 480px (avg 360-414)
#Tablet:  768px;
#Monitor: 1366px - 1920px (avg)
-- -- -- -- -- -- -- -- -- -- -- -- -- --
===FONTS===
font-family: 'Ibarra Real Nova', serif;
font-family: 'Public Sans', sans-serif;
-- -- -- -- -- -- -- -- -- -- -- -- -- --
===COLORS===
##Primary
Slightly Desaturated Cyan: rgb(95, 180, 162)
Dark Blue: rgb(32, 58, 76)
Grayish Dark Blue: rgb(51, 50, 61)

##Secondary
Very Light Grey (bg): rgb(250, 250, 250)
Light Grey (text field): rgb(234, 234, 235)
Brign Red (errors): rgb(244, 48, 48)
-- -- -- -- -- -- -- -- -- -- -- -- -- --
*/

/* 
Table of Contents:

#Fonts
#Margins
#Buttons
#Toggle States
*/

/* ####################### #Fonts ######################### */
* {
  font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ibarra Real Nova', serif;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45px;
}

h2 {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

.body1 {
  font-size: 16px;
  line-height: 30px;
}

.body2 {
  font-size: 15px;
  line-height: 30px;
}

button, a {
  font-size: 12px;
  line-height: 14.1px;
  letter-spacing: 2px;
}

/* ####################### #Margins ######################### */
body {
  margin: 0 30px;
}


/* ####################### #Buttons ######################### */


/* ###################### #Toggle States ######################## */
.hidden  {
  display: none;
}